

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}

.container a{
    color: #808080e7;
    margin: 3px;
    text-decoration: none;

   
}
.container a:hover{
    text-decoration-line: underline;
    text-decoration-color: aquamarine;
}


.container .ba{
    color: black;
    font-family: 'IBM Plex Sans', sans-serif;
  }
  main a {
    color: #009dff;
  }
body {
   display:inline;
   justify-content: center;
   align-items: center;
  
}
.container{

    display: flex;
    margin: 0.3rem;
    padding: 0.3rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;

}

main{

    align-items: center;
    justify-content: center;
    margin: 2rem 10rem;
    padding: 2rem;
   text-align:left;
   align-content: center;
   flex-direction: column;
}

.para{
    
    display:inline-flex;
    justify-content:center;
    
    
}
p{
    margin: 20px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}
.icon{
    margin: 2px;
    padding: 1rem;
}
.foot a{
    
    color: #808080;
    margin: 5px;
    text-decoration: none;
}

.foot a:hover{
    text-decoration-line: underline;
    text-decoration-color: #7fffd4df;
}
h1{
    text-decoration-line: underline;
    text-decoration-color: #7fffd4ea;
}
.bold{
    font-family: 'IBM Plex Sans', sans-serif;
}
@media (max-width:500px){   
     *{
        font-size: 1rem;
        margin: 0;
        padding: 0;
     }
     .container{
        font-size: 1.5rem;
     }
}
 